@import "./posts.css";
.posts-pages-3 {
  margin-top: -90vh;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 280vh;
}
@media only screen and (max-width: 370px) {
  .posts-pages-3 {
    height: 310vh;
  }
}
