@import "./posts.css";
.posts-pages-8 {
  margin-top: -90vh;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 230vh;
}

@media only screen and (max-width: 370px) {
  .posts-pages-8 {
    height: 260vh;
  }
}
